#demo_section div:is(.sect1, .sect2) form.demo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#demo_section div:is(.sect1, .sect2) form.demo.disabled {
  opacity: 0.5;
  pointer-events: none;
}
#demo_section div:is(.sect1, .sect2) form.demo label {
  margin-bottom: 0.2em;
}
#demo_section div:is(.sect1, .sect2) form.demo input,
#demo_section div:is(.sect1, .sect2) form.demo output,
#demo_section div:is(.sect1, .sect2) form.demo button {
  width: 100%;
  box-sizing: border-box;
}
#demo_section div:is(.sect1, .sect2) form.demo output {
  width: 100%;
  min-height: 3em;
  max-height: 20em;
  padding: 1ex;
  background-color: aliceblue;
  overflow: auto;
  display: block;
  border: 1px solid;
  white-space: pre-wrap;
  resize: vertical;
}
#demo_section div:is(.sect1, .sect2) form.demo .help {
  opacity: 0.8;
  font-size: 80%;
  min-height: 0.8em;
  margin-bottom: 0;
}
#demo_section div:is(.sect1, .sect2) form.demo span.element {
  color: #009999;
}
#demo_section div:is(.sect1, .sect2) form.demo span.element:not(:last-child)::after {
  content: ", ";
}
#demo_section div:is(.sect1, .sect2) form.demo input:focus.invalid,
#demo_section div:is(.sect1, .sect2) form.demo input.invalid {
  border-color: red !important;
}
#demo_section div:is(.sect1, .sect2) form.demo datalist {
  display: block;
}
#demo_section div:is(.sect1, .sect2) form.demo datalist::before {
  content: "examples: ";
}
#demo_section div:is(.sect1, .sect2) form.demo datalist option {
  color: #009999;
  display: inline-block;
}
#demo_section div:is(.sect1, .sect2) form.demo datalist option::before {
  content: attr(value);
}
#demo_section div:is(.sect1, .sect2) form.demo datalist option:not(:empty)::before {
  content: attr(value) ": ";
}
#demo_section div:is(.sect1, .sect2) form.demo datalist option:not(:last-child)::after {
  color: black;
  content: ", ";
}
#demo_section div:is(.sect1, .sect2).tips-aside details {
  clear: both;
}
#demo_section div:is(.sect1, .sect2).tips-aside form {
  display: block;
}
#demo_section div:is(.sect1, .sect2).tips-aside form input, #demo_section div:is(.sect1, .sect2).tips-aside form button, #demo_section div:is(.sect1, .sect2).tips-aside form output {
  width: 50%;
}
#demo_section div:is(.sect1, .sect2).tips-aside .admonitionblock.tip {
  float: right;
  width: 50%;
  padding-left: 2ex;
  overflow-y: auto;
}
#demo_section div:is(.sect1, .sect2).tips-aside .admonitionblock.tip table {
  border-collapse: collapse;
  width: 100%;
  background: none;
  box-shadow: none;
  border: none;
}
#demo_section div:is(.sect1, .sect2).tips-aside .admonitionblock.tip table td,
#demo_section div:is(.sect1, .sect2).tips-aside .admonitionblock.tip table th {
  border: none;
  padding: 0.5em 0;
}
#demo_section div:is(.sect1, .sect2).tips-aside .admonitionblock.tip table td.icon {
  display: none;
}
#demo_section div:is(.sect1, .sect2).tips-aside dl {
  position: relative;
}
#demo_section div:is(.sect1, .sect2).tips-aside dl dd {
  display: none;
}
#demo_section div:is(.sect1, .sect2).tips-aside dl dt {
  display: inline-block;
  margin: 0.1em;
  padding: 0.3em 0.6em;
  background: #f0f0f0;
  border: 2px solid #bbb;
  border-radius: 0.4em;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  transition: background 0.1s, box-shadow 0.1s;
}

/*# sourceMappingURL=demo.css.map */
