form.demo textarea {
	width: 100%;
	height: 20em;
}
form.demo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

form.demo label {
  margin-bottom: 0.2em;
}

form.demo input,
form.demo textarea,
form.demo button {
  width: 100%;
  box-sizing: border-box;
}
