---
name: publish documentation
# description: If changes are made (e.g. by build action) in relevant files, generate new documentation
on:
  push:
    branches: [main]
    paths:
      - '**-source.adoc'
      - '**-source-docinfo.html'
      - 'docs/Makefile'
      - 'docs/shapes/*.svg'
      - 'mihxil-demo/sass/*'
      - 'mihxil-demo/resources/**'
      - '.github/workflows/publish-documentation.yml'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    container: asciidoctor/docker-asciidoctor:latest
    steps:
      - uses: actions/checkout@v6
        with:
          set-safe-directory: true
      - name: Install needed tools
        run: |
          apk add --no-cache graphviz m4 npm
          npm install -g sass
      - name: Create html from adoc
        run: |
          echo "PWD" $(pwd)
          git config --global --add safe.directory $(pwd)
          cd docs
          make clean index.html DEMO.html
          git status
          git pull
      - name: Commit generated doc files if they changed
        uses: EndBug/add-and-commit@v9
        with:
          message: Automated update of documentation https://mihxil.github.io/math/
          add: ./docs
        if: ${{ github.event_name == 'push' }}
