---
name: javadocio toucher
on:
  push:
    paths:
    - pom.xml
    branches: ['main']
    tags: ['*']
  workflow_dispatch:
# If we generate javadoc for new links, it may fail because javadoc.io is not yet synced
# This triggers it to download as soon as I make a change in pom.xml
# This hopefully, resolves the issue.

jobs:
  touch:
    runs-on: ubuntu-latest
    env:
      MAVEN_ARGS: '--no-transfer-progress'
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
          cache: maven
      - name: touch
        run: |
          for u in `mvn help:effective-pom | grep  "link>https://javadoc.io" | sed -E 's/.*<link>(.*)<\/link>.*/\1/g'`
          do
            echo "Touching $u"
            curl -s -A "github/${GITHUB_REPOSITORY}" -o /dev/null -w "%{http_code}\n" -L $u
          done

