/* DONOTEDIT Copied from ../mihxil-demo/resources*/\n
form.demo output {
	width: 100%;
	min-height: 3em;
  max-height: 20em;
  background-color: aliceblue;
}
form.demo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

form.demo label {
  margin-bottom: 0.2em;
}

form.demo output {
  display: block;
  border: 1px solid;
  white-space: pre-wrap;
  resize: vertical;
}

form.demo input,
form.demo output,
form.demo button {
  width: 100%;
  box-sizing: border-box;
}


input:focus.invalid, input.invalid {
  border-color: red !important;
}
